@charset "UTF-8";
/*RECURSOS*/
/* Fuentes
font-family: 'Open Sans', sans-serif; //400, 600, 800
font-family: 'Vollkorn', serif; //400, 600, 900

*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Vollkorn:wght@400;600;900&display=swap");
/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*SECCIONES*/
.header {
  background: linear-gradient(to bottom, #213041, #30475E);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 0px; }
  .header .logo {
    height: 4rem;
    margin: 1rem 1rem 0 1rem; }
  .header .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    justify-content: space-between;
    margin: 1rem; }
    .header .navbar .busqueda {
      position: relative;
      margin: 8px 0; }
      .header .navbar .busqueda input {
        width: 13rem;
        transition: .3s;
        padding: 0.55rem 1rem;
        border-radius: 23px;
        text-align: center; }
      .header .navbar .busqueda input:focus {
        width: 15rem;
        transition: .3s; }
      .header .navbar .busqueda button {
        position: absolute;
        padding: .5rem .5rem;
        top: 4px;
        right: 10px;
        background-color: #ffffff00;
        border-style: none;
        cursor: pointer; }
    .header .navbar .navegacion {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 13px 0; }
      .header .navbar .navegacion li {
        margin: 0 15px; }
      .header .navbar .navegacion a {
        color: #F5F5F5;
        text-decoration: none; }
        .header .navbar .navegacion a.navegacion--active, .header .navbar .navegacion a:hover {
          font-weight: 800;
          text-decoration: underline; }

@media (min-width: 850px) {
  .header {
    flex-direction: row;
    padding: 10px 0px; }
    .header .logo {
      margin-left: 2rem; }
    .header .navbar {
      flex-direction: row; }
      .header .navbar .busqueda button {
        top: 4px;
        right: 10px; } }

.main {
  background-color: #213041;
  font-family: 'Open Sans', sans-serif;
  color: white;
  min-height: 82vh; }
  .main .peliculasPopulares,
  .main .seriesPopulares,
  .main .proximasPeliculas,
  .main .ultimasSeries,
  .main .peliculasMejorValoradas,
  .main .seriesMejorValoradas,
  .main .detalleGenero,
  .main .peliculasFavoritas,
  .main .seriesFavoritas {
    display: flex;
    flex-direction: column; }
    .main .peliculasPopulares h2,
    .main .seriesPopulares h2,
    .main .proximasPeliculas h2,
    .main .ultimasSeries h2,
    .main .peliculasMejorValoradas h2,
    .main .seriesMejorValoradas h2,
    .main .detalleGenero h2,
    .main .peliculasFavoritas h2,
    .main .seriesFavoritas h2 {
      text-align: center;
      padding: 15px;
      margin: 10px;
      font-size: 35px;
      font-weight: 600; }
    .main .peliculasPopulares section,
    .main .seriesPopulares section,
    .main .proximasPeliculas section,
    .main .ultimasSeries section,
    .main .peliculasMejorValoradas section,
    .main .seriesMejorValoradas section,
    .main .detalleGenero section,
    .main .peliculasFavoritas section,
    .main .seriesFavoritas section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      align-items: flex-start; }
      .main .peliculasPopulares section article,
      .main .seriesPopulares section article,
      .main .proximasPeliculas section article,
      .main .ultimasSeries section article,
      .main .peliculasMejorValoradas section article,
      .main .seriesMejorValoradas section article,
      .main .detalleGenero section article,
      .main .peliculasFavoritas section article,
      .main .seriesFavoritas section article {
        margin: 20px 7px; }
        .main .peliculasPopulares section article a,
        .main .seriesPopulares section article a,
        .main .proximasPeliculas section article a,
        .main .ultimasSeries section article a,
        .main .peliculasMejorValoradas section article a,
        .main .seriesMejorValoradas section article a,
        .main .detalleGenero section article a,
        .main .peliculasFavoritas section article a,
        .main .seriesFavoritas section article a {
          color: white;
          text-decoration: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .main .peliculasPopulares section article a img,
          .main .seriesPopulares section article a img,
          .main .proximasPeliculas section article a img,
          .main .ultimasSeries section article a img,
          .main .peliculasMejorValoradas section article a img,
          .main .seriesMejorValoradas section article a img,
          .main .detalleGenero section article a img,
          .main .peliculasFavoritas section article a img,
          .main .seriesFavoritas section article a img {
            width: 170px; }
          .main .peliculasPopulares section article a h3,
          .main .seriesPopulares section article a h3,
          .main .proximasPeliculas section article a h3,
          .main .ultimasSeries section article a h3,
          .main .peliculasMejorValoradas section article a h3,
          .main .seriesMejorValoradas section article a h3,
          .main .detalleGenero section article a h3,
          .main .peliculasFavoritas section article a h3,
          .main .seriesFavoritas section article a h3 {
            font-family: 'Vollkorn', serif;
            font-weight: 600;
            margin-top: 10px;
            text-align: center;
            width: 200px; }
          .main .peliculasPopulares section article a:hover,
          .main .seriesPopulares section article a:hover,
          .main .proximasPeliculas section article a:hover,
          .main .ultimasSeries section article a:hover,
          .main .peliculasMejorValoradas section article a:hover,
          .main .seriesMejorValoradas section article a:hover,
          .main .detalleGenero section article a:hover,
          .main .peliculasFavoritas section article a:hover,
          .main .seriesFavoritas section article a:hover {
            color: #F05454;
            transition: .5s; }

@media (min-width: 850px) {
  .main section h2 {
    text-align: left; } }

.tituloDetalle {
  padding: 20px 15px;
  text-align: center; }

.mainDetalle {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .mainDetalle img {
    margin: 10px; }
  .mainDetalle div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space;
    text-align: center; }
    .mainDetalle div p {
      margin: 5px 0; }
    .mainDetalle div button {
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      margin: 10px auto;
      padding: 10px;
      border-radius: 15px;
      border-style: none;
      background-color: #30475E;
      color: #F5F5F5; }
      .mainDetalle div button:hover {
        background-color: #F05454; }

.sinopsis h3 {
  margin: 15px 0 15px 15px; }

.sinopsis p {
  margin-left: 15px;
  max-width: 400px;
  padding-bottom: 15px; }

@media (min-width: 450px) {
  .sinopsis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .sinopsis p {
      max-width: 650px;
      text-align: center; } }

.sinResultado {
  font-size: 36px;
  text-align: center;
  padding: 40px;
  display: none; }
  .sinResultado span {
    font-weight: 800; }

.conResultado {
  font-size: 24px;
  text-align: center;
  padding: 20px; }
  .conResultado span {
    font-weight: 800; }

.resultadoPelicula, .resultadoSerie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px; }
  .resultadoPelicula h2, .resultadoSerie h2 {
    padding: 15px; }
  .resultadoPelicula div, .resultadoSerie div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
    .resultadoPelicula div a, .resultadoSerie div a {
      margin: 5px;
      color: white;
      text-decoration: none; }
      .resultadoPelicula div a img, .resultadoSerie div a img {
        width: 175px; }
      .resultadoPelicula div a h3, .resultadoSerie div a h3 {
        font-family: 'Vollkorn', serif; }

.tituloGeneros {
  text-align: center;
  padding-top: 20px;
  font-weight: 800; }

.generosPeliculas, .generosSeries {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column; }
  .generosPeliculas p, .generosSeries p {
    font-size: 30px; }
  .generosPeliculas ul, .generosSeries ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: center; }
    .generosPeliculas ul li, .generosSeries ul li {
      background-color: #30475E;
      padding: 10px;
      border-radius: 15px;
      margin: 10px; }
      .generosPeliculas ul li a, .generosSeries ul li a {
        color: white;
        text-decoration: none; }
      .generosPeliculas ul li:hover, .generosSeries ul li:hover {
        background-color: #F05454; }

@media (min-width: 850px) {
  .generosPeliculas, .generosSeries {
    height: 40vh; } }

/*Reutilización de clases en index.scss*/
.detalleGeneros h1 {
  text-align: center; }

/*Reutilización de clases en index.scss*/
.detalleGeneros h1 {
  text-align: center; }

/*Reutilizacion de clases en index.scss*/
.favoritos h1, .favoritos p {
  text-align: center; }

.favoritos h1 {
  margin-bottom: 10px; }

.footer {
  background-color: #30475E;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background-image: url("https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg");
  background-repeat: no-repeat;
  background-size: 8rem;
  background-position: 10px 10px; }
  .footer div {
    background-color: #2425259d;
    height: 10vh;
    width: 100%; }
  .footer p {
    text-align: center;
    color: #F5F5F5;
    padding: 20px  10px; }
    .footer p .fas, .footer p .fa-heart {
      color: #F05454; }
    .footer p a {
      color: white;
      text-decoration: none; }
      .footer p a:hover {
        font-weight: 600;
        color: #F05454;
        transition: all .3s; }
