/*RECURSOS*/
/* Reseteo */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Vollkorn:wght@400;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Fuentes

font-family: 'Open Sans', sans-serif; //400, 600, 800
font-family: 'Vollkorn', serif; //400, 600, 900

*/
/*SECCIONES*/
.header {
  background: linear-gradient(to bottom, #213041, #30475E);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 0px; }
  .header .logo {
    height: 4rem;
    margin: 1rem 1rem 0 1rem; }
  .header .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    justify-content: space-between;
    margin: 1rem; }
    .header .navbar .busqueda {
      position: relative;
      margin: 8px 0; }
      .header .navbar .busqueda input {
        width: 13rem;
        transition: .3s;
        padding: 0.55rem 1rem;
        border-radius: 23px;
        text-align: center; }
      .header .navbar .busqueda input:focus {
        width: 15rem;
        transition: .3s; }
      .header .navbar .busqueda button {
        position: absolute;
        padding: .5rem .5rem;
        top: 4px;
        right: 10px;
        background-color: #ffffff00;
        border-style: none;
        cursor: pointer; }
    .header .navbar .navegacion {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 13px 0; }
      .header .navbar .navegacion li {
        margin: 0 15px; }
      .header .navbar .navegacion a {
        color: #F5F5F5;
        text-decoration: none; }
        .header .navbar .navegacion a.navegacion--active, .header .navbar .navegacion a:hover {
          font-weight: 800;
          text-decoration: underline; }

@media (min-width: 850px) {
  .header {
    flex-direction: row;
    padding: 10px 0px; }
    .header .logo {
      margin-left: 2rem; }
    .header .navbar {
      flex-direction: row; }
      .header .navbar .busqueda button {
        top: 4px;
        right: 10px; } }

.main {
  background-color: #213041;
  font-family: 'Open Sans', sans-serif;
  color: white;
  min-height: 82vh; }
  .main .peliculasPopulares,
  .main .seriesPopulares,
  .main .peliculasMasVistas,
  .main .seriesMasVistas,
  .main .peliculasMejorValoradas,
  .main .seriesMejorValoradas {
    display: flex;
    flex-direction: column; }
    .main .peliculasPopulares h2,
    .main .seriesPopulares h2,
    .main .peliculasMasVistas h2,
    .main .seriesMasVistas h2,
    .main .peliculasMejorValoradas h2,
    .main .seriesMejorValoradas h2 {
      text-align: center;
      padding: 15px;
      margin: 10px;
      font-size: 35px;
      font-weight: 600; }
    .main .peliculasPopulares section,
    .main .seriesPopulares section,
    .main .peliculasMasVistas section,
    .main .seriesMasVistas section,
    .main .peliculasMejorValoradas section,
    .main .seriesMejorValoradas section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center; }
      .main .peliculasPopulares section article,
      .main .seriesPopulares section article,
      .main .peliculasMasVistas section article,
      .main .seriesMasVistas section article,
      .main .peliculasMejorValoradas section article,
      .main .seriesMejorValoradas section article {
        margin: 20px 7px; }
        .main .peliculasPopulares section article a,
        .main .seriesPopulares section article a,
        .main .peliculasMasVistas section article a,
        .main .seriesMasVistas section article a,
        .main .peliculasMejorValoradas section article a,
        .main .seriesMejorValoradas section article a {
          color: white;
          text-decoration: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .main .peliculasPopulares section article a img,
          .main .seriesPopulares section article a img,
          .main .peliculasMasVistas section article a img,
          .main .seriesMasVistas section article a img,
          .main .peliculasMejorValoradas section article a img,
          .main .seriesMejorValoradas section article a img {
            width: 170px; }
          .main .peliculasPopulares section article a h3,
          .main .seriesPopulares section article a h3,
          .main .peliculasMasVistas section article a h3,
          .main .seriesMasVistas section article a h3,
          .main .peliculasMejorValoradas section article a h3,
          .main .seriesMejorValoradas section article a h3 {
            font-family: 'Vollkorn', serif;
            font-weight: 600;
            margin-top: 10px; }
          .main .peliculasPopulares section article a:hover,
          .main .seriesPopulares section article a:hover,
          .main .peliculasMasVistas section article a:hover,
          .main .seriesMasVistas section article a:hover,
          .main .peliculasMejorValoradas section article a:hover,
          .main .seriesMejorValoradas section article a:hover {
            color: #F05454;
            transition: .5s; }

@media (min-width: 850px) {
  .main section h2 {
    text-align: left; } }

.tituloDetalle {
  padding: 20px 15px;
  text-align: center; }

.mainDetalle {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .mainDetalle img {
    margin: 10px; }
  .mainDetalle div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space;
    text-align: center; }
    .mainDetalle div p {
      margin: 5px 0; }
    .mainDetalle div button {
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      margin: 10px auto;
      padding: 10px;
      border-radius: 15px;
      border-style: none;
      background-color: #30475E;
      color: #F5F5F5; }
      .mainDetalle div button:hover {
        background-color: #F05454; }

.sinopsis h3 {
  margin-left: 15px; }

.sinopsis p {
  margin-left: 15px;
  max-width: 400px; }

.footer {
  background-color: #30475E;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif; }
  .footer p {
    text-align: center;
    color: #F5F5F5; }
    .footer p .fas, .footer p .fa-heart {
      color: #F05454; }
    .footer p a {
      color: white;
      text-decoration: none; }
      .footer p a:hover {
        font-weight: 600;
        color: #F05454;
        transition: all .3s; }
