.tituloGeneros{
    text-align: center;
    padding-top: 20px;
    font-weight: 800;
}

.generosPeliculas, .generosSeries{
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    p{
        font-size: 30px;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        justify-content: center;
        li{
            background-color: $azul;
            padding: 10px;
            border-radius: 15px;
            margin: 10px;
            a{
                color: white;
                text-decoration: none;
            }
            &:hover{
                background-color: $rosa;
            }
        }
    }
}

@media (min-width: 850px){
    .generosPeliculas, .generosSeries{
        height: 40vh;
    }
}